<?xml version="1.0"?>
<configuration>
  <configSections>
     <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.identityModel>
    <identityConfiguration name="identity" saveBootstrapContext="true" >
      <audienceUris mode="Never">
        <add value="https://localhost:44300/"/>
      </audienceUris>
      <certificateValidation certificateValidationMode="None" />
      <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <trustedIssuers>
          <add thumbprint="6b7acc520305bfdb4f7252daeb2177cc091faae1"
               name="idsrv3test"  />
        </trustedIssuers>
      </issuerNameRegistry>
      <securityTokenHandlers>
        <clear/>
        <add type="WcfService1.IdentityServerWrappedJwtHandler, WcfService1, Version=1.0.0.0, Culture=neutral" ></add>       
      </securityTokenHandlers>
      <claimsAuthorizationManager type="WcfService1.RequireAuthenticationAuthorizationManager, WcfService1, Version=1.0.0.0, Culture=neutral"/>
    </identityConfiguration>
  </system.identityModel>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.serviceModel>
    <!--services>
      <service  name="WcfService1.Service1">       
        <endpoint address="wstrust"
                binding="ws2007FederationHttpBinding"
                contract="WcfService1.IService1" bindingNamespace="https://localhost:44302/Service1.svc" >         
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        
      </service-->
      <services>
        <service name="WcfService1.Service1">
          <!--host>
            <baseAddresses>
              <add baseAddress="https://localhost:44302" />
            </baseAddresses>
          </host-->
          <endpoint address=""
                    binding="ws2007FederationHttpBinding"
                    bindingConfiguration="service-binding"
                    contract="WcfService1.IService1" />
          <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
        </service>     
    </services>
    <behaviors>
      <!--serviceBehaviors>       
        <behavior>
          <serviceCredentials useIdentityConfiguration="true">
            <serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectName"/>
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="Always"></serviceAuthorization>          
        </behavior>
      </serviceBehaviors-->
      <serviceBehaviors>
        <behavior>
          <serviceMetadata  httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization principalPermissionMode="Always" />
          
          <serviceCredentials useIdentityConfiguration="true" identityConfiguration="identity">
            <serviceCertificate findValue="25ceae1c78374d7c12b6d7fa9ac60c37a432425d" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <bindings>
      <ws2007FederationHttpBinding>
        <binding name="service-binding" maxReceivedMessageSize="20000000">
          <security mode="TransportWithMessageCredential">
            <message issuedKeyType="BearerKey" establishSecurityContext="false">
              <!--issuerMetadata address="https://localhost:44300/identity/wsfed/metadata" /-->
            </message>
          </security>
        </binding>
      </ws2007FederationHttpBinding>
      <basicHttpBinding>
        <binding name="service-basic" maxReceivedMessageSize="20000000">
          <security mode="None"></security>
        </binding>
      </basicHttpBinding>
      <!--ws2007FederationHttpBinding>
        <binding>
          <security mode="TransportWithMessageCredential">
            <message establishSecurityContext="false">
              <issuerMetadata address="https://localhost:44300/identity/wsfed/metadata" />
              
            </message>

          </security>
        </binding>
      </ws2007FederationHttpBinding-->
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

</configuration>
